<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cesgroup.prison.yjct.dao.GzzglMapper">
	 
	<select id="getById" resultType="com.cesgroup.prison.yjct.entity.GzzglEntity"> 
		SELECT A.* FROM CDS_WORKGROUP_INFO A 
		WHERE A.ID = #{id} 
	</select>
	
	<select id="findList" parameterType="com.cesgroup.prison.yjct.entity.GzzglEntity" resultType="com.cesgroup.prison.yjct.entity.GzzglEntity">
		SELECT A.* FROM CDS_WORKGROUP_INFO A 
		WHERE A.WGI_STATUS = 1  
		<if test="wgiCusNumber != null and wgiCusNumber != ''"> 
			AND A.WGI_CUS_NUMBER = #{wgiCusNumber} 		
		</if>
		<if test="wgiWorkgroupName != null and wgiWorkgroupName != ''"> 
			AND A.WGI_WORKGROUP_NAME like '%' || #{wgiWorkgroupName} || '%' 		
		</if>
	</select>
	
	<select id="findAllList" parameterType="com.cesgroup.prison.yjct.entity.GzzglEntity" resultType="com.cesgroup.prison.yjct.entity.GzzglEntity">
		SELECT A.* FROM CDS_WORKGROUP_INFO A 
		<where>
			<if test="wgiCusNumber != null and wgiCusNumber != ''"> 
				AND A.WGI_CUS_NUMBER = #{wgiCusNumber} 		
			</if>
			<if test='wgiStatus == "1"'> 
				AND A.WGI_STATUS = 1 	
			</if>
			<if test="wgiWorkgroupName != null and wgiWorkgroupName != ''"> 
				AND A.WGI_WORKGROUP_NAME = #{wgiWorkgroupName} 		
			</if>
			<if test="epcPlanFid != null and epcPlanFid != ''"> 
				<if test='configExist == "0"'> 
					AND NOT EXISTS(SELECT 1 FROM CDS_EMERGENCY_PLAN_CONFIG B WHERE B.EPC_CONFIG_ITEM_FID = A.ID 
							AND B.EPC_CONFIG_TYPE = 2
							AND B.EPC_PLAN_FID = #{epcPlanFid})
				</if>
			</if>			
		</where>
		ORDER BY A.WGI_CRTE_TIME DESC 
	</select>
	
	<select id="updateStatusByIds" parameterType="arraylist"> 
		UPDATE CDS_WORKGROUP_INFO A SET A.WGI_STATUS = 0  
		WHERE A.ID IN 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
 			#{item}		
 		</foreach> 
	</select>
</mapper>