body {
	background: rgb(245, 245, 245); margin: 0px; padding: 0px; font-weight: 500;
}
ul.resp-tabs-list {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
.resp-tabs-list li {
	list-style: none; margin: 0px; padding: 13px 15px; float: left; display: inline-block; cursor: pointer;
}
.resp-tabs-container {
	padding: 0px; clear: left; background-color: rgb(255, 255, 255);
}
h2.resp-accordion {
	padding: 5px; display: none; cursor: pointer;
}
.resp-tab-content {
	padding: 30px; display: none;
}
.resp-tab-active {
	
}
.resp-tab-active {
	
}
.resp-content-active {
	display: block;
}
.resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border-top-color: transparent; border-top-width: medium; border-top-style: none; min-height: auto;
}
h2.resp-accordion {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(193, 193, 193); margin: 0px; padding: 10px 15px; border-image: none; font-size: 13px;
}
h2.resp-tab-active {
	padding: 10px 15px !important; margin-bottom: 0px !important; border-bottom-color: rgb(255, 255, 255) !important; border-bottom-width: 0px !important; border-bottom-style: solid !important;
}
h2:last-child.resp-tab-title {
	background: blue; border-bottom-color: rgb(193, 193, 193) !important; border-bottom-width: 12px !important; border-bottom-style: solid !important;
}
.resp-vtabs ul.resp-tabs-list {
	width: 30%; float: left;
}
.resp-vtabs .resp-tabs-list li {
	margin: 0px; padding: 15px !important; float: none; display: block; cursor: pointer;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px; border-radius: 4px; border: 1px solid rgb(193, 193, 193); border-image: none; width: 68%; clear: none; float: left; min-height: 250px; background-color: rgb(255, 255, 255);
}
.resp-vtabs .resp-tab-content {
	border: currentColor; border-image: none;
}
.resp-vtabs li.resp-tab-active {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(193, 193, 193) currentColor rgb(193, 193, 193) rgb(193, 193, 193); padding: 14px 15px 15px 14px !important; border-image: none; margin-right: -1px !important; position: relative; z-index: 1; background-color: rgb(255, 255, 255);
}
.resp-arrow {
	width: 0px; height: 0px; margin-top: 3px; border-top-color: rgb(15, 36, 83); border-right-color: transparent; border-left-color: transparent; border-top-width: 12px; border-right-width: 6px; border-left-width: 6px; border-top-style: solid; border-right-style: solid; border-left-style: solid; float: right;
}
h2.resp-tab-active span.resp-arrow {
	border-width: medium 6px 12px; border-style: none solid solid; border-color: currentColor transparent rgb(255, 206, 20); border-image: none;
}
h2.resp-tab-active {
	background: rgb(255, 255, 255) !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid rgb(193, 193, 193); border-image: none;
}
.resp-easy-accordion :last-child.resp-tab-content {
	border-bottom-color: rgb(193, 193, 193) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
.resp-jfit {
	margin: 0px; width: 100%;
}
.resp-tab-content-active {
	display: block;
}
h2:first-child.resp-accordion {
	border-top-color: rgb(193, 193, 193) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
@media only screen and (max-width:768px)
{
ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid rgb(193, 193, 193); border-image: none;
}
.resp-vtabs .resp-tabs-container {
	border: currentColor; border-image: none; width: 100%; clear: none; float: none;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs :last-child.resp-tab-content {
	border-bottom-color: rgb(193, 193, 193) !important; border-bottom-width: 1px !important; border-bottom-style: solid !important;
}
}
@media only screen and (max-width:568px)
{
.resp-arrow {
	margin-top: 8px; border-top-color: rgb(28, 32, 32); border-top-width: 9px; border-top-style: solid;
}
h2.resp-tab-active span.resp-arrow {
	border-bottom-color: rgb(255, 206, 20); border-bottom-width: 9px; border-bottom-style: solid;
}
}
@media only screen and (max-width:384px)
{
.resp-arrow {
	margin-top: 7px; border-top-color: rgb(28, 32, 32); border-right-color: transparent; border-left-color: transparent; border-top-width: 8px; border-right-width: 5px; border-left-width: 5px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
h2.resp-tab-active span.resp-arrow {
	border-right-color: transparent; border-bottom-color: rgb(255, 206, 20); border-left-color: transparent; border-right-width: 5px; border-bottom-width: 8px; border-left-width: 5px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
}
