<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cesgroup.prison.ws.dao.CameraWsMapper">

	<select id="getCameraList" parameterType="hashmap" resultType="hashmap">
		SELECT CBD_CUS_NUMBER "prisonNumber",
	       ID "cameraID",
	       CBD_NAME "cameraName",
	       CBD_TYPE_INDC "cameraType",
	       CBD_BRAND_NAME "cameraBrand",
	       CBD_NAME "cameraLocal",
	       CBD_AREA_ID "areaID",
	       CBD_ACTION_INDC "action",
	       CBD_DVR_IDNTY "corderID",
	       CBD_DVR_CHNNL_IDNTY "channelID",
	       CBD_IP_ADDRS "ip",
	       CBD_PORT "port",
	       CBD_USER_NAME "userName",
	       CBD_USER_PASSWORD "password",
	       CBD_CHNNL_IDNTY "cameraChannelID",
	       CBD_STTS_INDC "status" 
	  	FROM DVC_CAMERA_BASE_DTLS
		<where>
			<if test='type == "0"'>
				AND CBD_CUS_NUMBER = #{cusNumber} 
				AND CBD_ACTION_INDC != 3 
			</if>
			<if test='type == "1"'>
				AND CBD_CUS_NUMBER = #{cusNumber} 
				AND CBD_UPDT_TIME &gt;= TO_DATE(#{updateDate}, 'yyyy-MM-dd')
			</if>
		</where>
	</select>
</mapper>